<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<br class="clear" />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ipsum aperiam facere dolore. Laboriosam illo facere, sunt sapiente totam ab praesentium fugit quibusdam natus officia, reprehenderit nostrum, voluptatibus eligendi odit.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero reprehenderit, nostrum illum iusto quisquam porro, unde! Voluptatum nemo enim ipsam ea doloremque molestiae et soluta provident, aliquid excepturi vitae totam!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae distinctio harum autem officiis voluptatum, rerum totam in natus tempore iusto alias inventore optio, quibusdam enim quam dicta tenetur quas provident.</p>

<br class="clear" />

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'nate.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Nate</h2>
    <br />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quas commodi culpa ipsa ullam aliquid iste unde, fuga ut tenetur vero quibusdam, harum obcaecati nihil, optio necessitatibus, laboriosam est ratione!
    </p>
  </div>

  <br class="clear" />

</div>
<br class="clear" />

<br>
<br>
<br>
<br>
